apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: livekitinfrastructures.lukacsi.org
spec:
  group: lukacsi.org
  scope: Cluster
  names:
    kind: LiveKitInfrastructure
    plural: livekitinfrastructures
    singular: livekitinfrastructure
    shortNames: ["lki"]
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                domain: { type: string }
                certManager:
                  type: object
                  properties:
                    email: { type: string }
                    cloudflareSecretRef:
                      type: object
                      properties: { name: { type: string }, key: { type: string } }
                envoy:
                  type: object
                  properties:
                    tlsSecretName: { type: string, default: "livekit-tls" }
                    annotations:
                      type: object
                      additionalProperties:
                        type: string
                stunner:
                  type: object
                  properties:
                    realm: { type: string, default: "stunner.l7mp.io" }
                    username: { type: string }
                    password: { type: string }