apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: livekitserverviews.lukacsi.org
spec:
  group: lukacsi.org
  scope: Namespaced
  names:
    kind: LiveKitServerView
    plural: livekitserverviews
    singular: livekitserverview
    shortNames: ["lksv"]
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Replicas
          type: integer
          jsonPath: .status.replicas
        - name: Ready
          type: integer
          jsonPath: .status.readyReplicas
        - name: Image
          type: string
          jsonPath: .spec.livekit.image
        - name: Redis
          type: boolean
          jsonPath: .status.redis.ready
        - name: Ingress
          type: boolean
          jsonPath: .spec.livekit.ingress.enabled
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                pool: { type: string }
                livekit:
                  type: object
                  properties:
                    image: { type: string }
                    keys:
                      type: object
                      properties:
                        secretName: { type: string }
                        apiKeyKey: { type: string }
                        apiSecretKey: { type: string }
                    resources:
                      type: object
                      properties:
                        requests: { type: object, x-kubernetes-preserve-unknown-fields: true }
                        limits: { type: object, x-kubernetes-preserve-unknown-fields: true }
                    ingress:
                      type: object
                      properties:
                        image: { type: string }
                        enabled: { type: boolean }
                        resources:
                          type: object
                          properties:
                            requests: { type: object, x-kubernetes-preserve-unknown-fields: true }
                            limits: { type: object, x-kubernetes-preserve-unknown-fields: true }
                #cfgSecretName: { type: string } #TODO ability for custom livekit.yaml config
                redis:
                  type: object
                  properties:
                    mode: { type: string }
                    image: { type: string }
                    resources:
                      type: object
                      properties:
                        requests: { type: object, x-kubernetes-preserve-unknown-fields: true }
                        limits: { type: object, x-kubernetes-preserve-unknown-fields: true }
                    port: { type: integer }
                    keys:
                      type: object
                      properties:
                        secretName: { type: string }
                        passwordKey: { type: string }
                stunnerKeys:
                  type: object
                  properties:
                    secretName: { type: string }
                    usernameKey: { type: string }
                    passwordKey: { type: string }
                # env: # TODO add to pool
                #   type: array
                #   items: { type: object, x-kubernetes-preserve-unknown-fields: true }
            status:
              type: object
              properties:
                redis:
                  type: object
                  properties:
                    ready: { type: boolean }
                    message: { type: string }
                replicas: { type: integer }
                updatedReplicas: { type: integer }
                availableReplicas: { type: integer }
                readyReplicas: { type: integer }
                serviceName: { type: string }
                conditions:
                  type: array
                  items: { type: object, x-kubernetes-preserve-unknown-fields: true }