apiVersion: v1
kind: Service
metadata:
  name: livekit-ingress
  namespace: livekit-a
spec:
  selector:
    app: livekit-ingress
  type: LoadBalancer
  ports:
    - name: rtmp
      port: 1935
      targetPort: 1935
      protocol: TCP