apiVersion: dcontroller.io/v1alpha1
kind: Operator
metadata:
  name: livekit-infra-manager
spec:
  controllers:
    # Cert-Manager
    - name: infra-to-certificate
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/certmanager']"
              - "enabled"
        - "@project":
            apiVersion: cert-manager.io/v1
            kind: Certificate
            metadata:
              name: livekit-wildcard-cert
              namespace: envoy-gateway-system
              labels:
                app.kubernetes.io/managed-by: livekit-operator
            spec:
              secretName: livekit-tls
              issuerRef: 
                kind: ClusterIssuer
                name: letsencrypt-dns
              dnsNames:
                - "$.spec.domain"
      target:
        apiGroup: cert-manager.io
        kind: Certificate
        type: Updater

    - name: infra-to-clusterissuer
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/certmanager']"
              - "enabled"
        - "@project":
            apiVersion: cert-manager.io/v1
            kind: ClusterIssuer
            metadata:
              name: letsencrypt-dns
              labels:
                app.kubernetes.io/managed-by: livekit-operator
            spec:
              acme:
                email: "$.spec.certManager.email"
                server: https://acme-v02.api.letsencrypt.org/directory
                privateKeySecretRef: { name: le-account-key }
                solvers:
                  - dns01:
                      cloudflare:
                        apiTokenSecretRef:
                          name: "$.spec.certManager.cloudflareSecretRef.name"
                          key: "$.spec.certManager.cloudflareSecretRef.key"
      target:
        apiGroup: cert-manager.io
        kind: ClusterIssuer
        type: Updater

    # Envoy Gateway
    - name: infra-to-envoy-gatewayclass
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/envoy']"
              - "enabled"
        - "@project":
            apiVersion: gateway.networking.k8s.io/v1
            kind: GatewayClass
            metadata:
              name: envoy
              labels:
                app.kubernetes.io/managed-by: livekit-operator
            spec:
              controllerName: gateway.envoyproxy.io/gatewayclass-controller
              parametersRef:
                group: gateway.envoyproxy.io
                kind: EnvoyProxy
                name: public-gw-proxy
                namespace: envoy-gateway-system
      target:
        apiGroup: gateway.networking.k8s.io
        kind: GatewayClass
        type: Updater

    - name: infra-to-envoy-gateway
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/envoy']"
              - "enabled"
        - "@project":
            apiVersion: gateway.networking.k8s.io/v1
            kind: Gateway
            metadata:
              name: public-gw
              namespace: envoy-gateway-system
              labels:
                app.kubernetes.io/managed-by: livekit-operator
            spec:
              gatewayClassName: envoy
              listeners:
                # - name: http
                #   port: 80
                #   protocol: HTTP
                #   allowedRoutes: { namespaces: { from: All } }
                - name: https
                  port: 443
                  hostname: "$.spec.domain"
                  protocol: HTTPS
                  tls:
                    mode: Terminate
                    certificateRefs: [{ kind: Secret, name: livekit-tls }]
                  allowedRoutes: { namespaces: { from: All } }
      target:
        apiGroup: gateway.networking.k8s.io
        kind: Gateway
        type: Updater

    - name: infra-to-envoy-proxy-config
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/envoy']"
              - "enabled"
        - "@project":
            apiVersion: gateway.envoyproxy.io/v1alpha1
            kind: EnvoyProxy
            metadata:
              name: public-gw-proxy
              namespace: envoy-gateway-system
              labels:
                app.kubernetes.io/managed-by: livekit-operator
            spec:
              provider:
                type: Kubernetes
                kubernetes:
                  envoyService:
                    #type: LoadBalancer
                    annotations: "$.spec.envoy.annotations"
      target:
        apiGroup: gateway.envoyproxy.io
        kind: EnvoyProxy
        type: Updater

    # Stunner 
    - name: infra-to-stunner-config
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/stunner']"
              - "enabled"
        - "@project":
            apiVersion: stunner.l7mp.io/v1
            kind: GatewayConfig
            metadata:
              name: stunner-gatewayconfig
              namespace: stunner
              labels:
                app.kubernetes.io/managed-by: livekit-operator
            spec:
              realm: "$.spec.stunner.realm"
              authType: static
              userName: "$.spec.stunner.username"
              password: "$.spec.stunner.password"
      target:
        apiGroup: stunner.l7mp.io
        kind: GatewayConfig
        type: Updater

    - name: infra-to-stunner-gatewayclass
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/stunner']"
              - "enabled"
        - "@project":
            apiVersion: gateway.networking.k8s.io/v1
            kind: GatewayClass
            metadata:
              name: stunner-gatewayclass
              labels:
                app.kubernetes.io/managed-by: livekit-operator
            spec:
              controllerName: stunner.l7mp.io/gateway-operator
              parametersRef:
                group: stunner.l7mp.io
                kind: GatewayConfig
                name: stunner-gatewayconfig
                namespace: stunner
      target:
        apiGroup: gateway.networking.k8s.io
        kind: GatewayClass
        type: Updater

    - name: infra-to-stunner-gateway
      sources:
        - apiGroup: lukacsi.org
          kind: LiveKitInfrastructure
      pipeline:
        - "@select":
            "@eq":
              - "$.metadata.labels['livekit.lukacsi.org/stunner']"
              - "enabled"
        - "@project":
            apiVersion: gateway.networking.k8s.io/v1
            kind: Gateway
            metadata:
              name: udp-gateway
              namespace: stunner
              labels:
                app.kubernetes.io/managed-by: livekit-operator
              annotations:
                stunner.l7mp.io/service-type: LoadBalancer
            spec:
              gatewayClassName: stunner-gatewayclass
              listeners:
                - name: udp-listener
                  port: 3478
                  protocol: TURN-UDP
                  allowedRoutes: { namespaces: { from: All } }
      target:
        apiGroup: gateway.networking.k8s.io
        kind: Gateway
        type: Updater